<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" required />
    </div>
    <div class="input-group">
      <label for="description">Description</label>
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="description"
        required
      />
    </div>
    <div class="input-group">
      <label for="category">Category</label>
      <input
        type="text"
        id="category"
        name="category"
        [(ngModel)]="category"
        required
      />
    </div>
    <div class="input-group">
      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        name="price"
        [(ngModel)]="price"
        required
      />
    </div>
    <app-button
      type="submit"
      [color]="buttonColor"
      [text]="buttonText"
      class="submit-btn"
    ></app-button>
  </form>
</div>
