<section class="products-section section">
  <h2>All Products</h2>
  <div class="product-grid">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (handleDelete)="deleteProduct(product)"
      (handleEdit)="editProduct(product)"
    >
    </app-product>
  </div>
  <app-add-product
    (onAddProduct)="addProduct($event)"
    [name]="name"
    [description]="description"
    [price]="price"
    [category]="category"
    [id]="id"
    [isEditing]="isEditing"
  ></app-add-product>
</section>
